<h1>Task <%= @task.id %></h1>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<p><%= link_to('Back to list', tasks_path) %></p>
<p><%= link_to('Edit this task', edit_task_path) %></p>
